PORT=5000
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=postgres
DB_NAME=collaboration_db
JWT_SECRET=academic_collaboration_secret_key_777
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
